<!-- src/views/about.ejs -->

<section class="hero is-fullheight">
    <div class="hero-head"></div>
    <div class="hero-body has-background-white">
        <div class="container is-large">
            <div id="name" class="content has-text-white has-text-centered">
                <p class="title is-1">Jaeyun Lim</p>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div id="profile" class="content">
                        <p class="subtitle is-3">Profile</p>
                        <p>
                            <span class="icon">
                                <i class="fa-solid fa-globe"></i>
                            </span>
                            PoB: South Korea</p>
                        <p>
                            <span class="icon">
                                <i class="fa-solid fa-baby"></i>
                            </span>
                            DoB: 01.30.1998
                        </p>
                    </div>
                    <div id="school" class="content">
                        <p class="subtitle is-3">Education</p>
                        <p>Kyungpook National University</p>
                        <ul>
                            <li>Major: Computer Science and Engineering</li>
                            <ul>
                                <li>GPA: 4.02/4.5</li>
                            </ul>
                            <li>Minor: Business Intelligence</li>
                            <ul>
                                <li>GPA: 4.21/4.5</li>
                            </ul>
                            <li>Total
                                <ul>
                                    <li>GPA: 4.03/4.5</li>
                                </ul>
                            </li>
                        </ul>
                        <p>International School of Eindhoven</p>
                        <ul>
                            <li>International Baccalaurate</li>
                        </ul>
                    </div>
                    <div id="activity" class="content">
                        <p class="subtitle is-3">Activity</p>
                        <ul>
                            <li>Kyungpook National University Buddy Program (2021.03.01 ~ 2021.07.01.)</li>
                            <li>Kyungpook National University Data Structure Tutor (2021.09.01. ~ Present)</li>
                            <li>Kyungpook National University Student Ambassador (2022.01.01 ~ 2022.06.01)</li>
                            <li>Korean American Friendship Circle (2022.02 ~ 2023.06)</li>
                        </ul>
                    </div>
                    <div id="prize" class="content">
                        <p class="subtitle is-3">Prize</p>
                        <ul>
                            <li>Kyungpook National University SW Hackerton (2021)</li>
                            <li>KAFC Student Ambassador Award (2023)</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <figure class="image">
                        <img class="is-rounded" src="https://ik.imagekit.io/re1yun/IMG_8716.JPG?updatedAt=1698136366747">
                    </figure>
                </div>
            </div>
            
            
            <div id="experience" class="content">
                <p class="subtitle is-3">Experience</p>
                <ul>
                    <li>10k1m Internship</li>
                    <li>LG Soft India Internship</li>
                    <li>Data Structure Tutor</li>
                    <li>KATUSA</li>
                </ul>
            </div>
            <div class="content">
            </div>
        </div>
    </div> 
    <div class="hero-foot"></div>
</section>