<!-- src/views/about.ejs -->

<section class="hero is-fullheight is-family-sans-serif">
    <div class="hero-head"></div>
    <div class="hero-body has-background-white">
        <div class="container is-large">
            <div id="name" class="content has-text-white has-text-centered">
                <p class="title is-1">About Me</p>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="content mr-6">
                        <p class="subtitle is-3 mb-2 is-underlined" id="profile">Profile</p>
                        <p class="mb-1">
                            <span class="icon">
                                <i class="fa-solid fa-signature"></i>
                            </span>
                            I am: <strong>Jaeyun(Ted) Lim</strong></p>
                        <p class="mb-1">
                            <span class="icon">
                                <i class="fa-solid fa-globe"></i>
                            </span>
                            PoB: South Korea</p>
                        <p>
                            <span class="icon mt-0">
                                <i class="fa-solid fa-baby"></i>
                            </span>
                            DoB: 01.30.1998
                        </p>
                    </div>
                    <br>
                    <div class="content">
                        <p class="subtitle is-3 mb-2 is-underlined" id="school">Education</p>
                        <p>
                            <span class="icon">
                                <i class="fa-solid fa-school"></i>
                            </span>
                            Kyungpook National University 🇰🇷</p>
                        <ul class="mt-1">
                            <li>Major: Computer Science and Engineering</li>
                            <ul>
                                <li>GPA: 4.02/4.5</li>
                            </ul>
                            <li>Minor: Business Intelligence</li>
                            <ul>
                                <li>GPA: 4.21/4.5</li>
                            </ul>
                            <li>Total
                                <ul>
                                    <li>GPA: 4.03/4.5</li>
                                </ul>
                            </li>
                        </ul>
                        <p>
                            <span class="icon">
                                <i class="fa-solid fa-school"></i>
                            </span>
                            International School of Eindhoven 🇳🇱</p>
                        <ul>
                            <li>International Baccalaurate</li>
                        </ul>
                    </div>
                </div>
                <div class="column">
                    <figure class="image">
                        <img class="is-rounded" src="https://ik.imagekit.io/re1yun/73661E47-62D3-40E7-9923-6B5786CAB478-1437-000000607923725C.JPG?updatedAt=1698198595163">
                    </figure>
                </div>
            </div>
            
            
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="activity" >Activity</p>
                <ul>
                    <li><a href="https://ik.imagekit.io/re1yun/buddy.pdf?updatedAt=1698150031326" target="_blank">Kyungpook National University Buddy Program (2021.03.01 ~ 2021.07.01.)
                        <span class="icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a></li>
                    <li>Kyungpook National University Data Structure Tutor (2021.09.01. ~ Present)</li>
                    <li>
                        <a href="https://ik.imagekit.io/re1yun/Scan%202.jpeg?updatedAt=1698145398019" target="_blank">Kyungpook National University Student Ambassador (2021.09.01 ~ 2021.12.01)
                            <span class="icon">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                            </span>
                        </a>
                    </li>
                    <li>Korean American Friendship Circle (2022.02 ~ 2023.06)</li>
                </ul>
            </div>
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="prize">Prize</p>
                <ul>
                    <li><a href="https://ik.imagekit.io/re1yun/Scan%201.jpeg?updatedAt=1698145398015" target="_blank">Kyungpook National University SW Hackerton (2021)
                        <span class="icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a></li>
                    <li><a href="https://ik.imagekit.io/re1yun/Scan.jpeg?updatedAt=1698145397973" target="_blank">KAFC Student Ambassador Award (2023)
                        <span class="icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a></li>
                </ul>
            </div>
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="experience">Experience</p>
                <ul>
                    <li>10k1m Internship</li>
                    <li><a href="https://ik.imagekit.io/re1yun/Scan%203.jpeg?updatedAt=1698145397985" target="_blank">LG Soft India Internship
                        <span class="icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a></li>
                    <li>Data Structure Tutor</li>
                    <li><a href="https://ik.imagekit.io/re1yun/Senior%20Katusa%20Appointment.pdf?updatedAt=1698149806885" target="_black">KATUSA
                        <span class="icon">
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </span>
                    </a></li>
                </ul>
            </div>
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="experience">Skill Stacks</p>
                <div class="columns">
                    <div class="column is-half has-text-centered">
                        <p class="subtitle is-6">Programming Languages</p>
                        <canvas id="langChart"></canvas>
                    </div>
                    <div class="column has-text-centered">
                        <p class="subtitle is-6">Frameworks</p>
                        <canvas id="frameChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="hero-foot"></div>
</section>