<!-- src/views/about.ejs -->

<section class="hero is-fullheight is-family-sans-serif">
    <div class="hero-head"></div>
    <div class="hero-body has-background-white">
        <div class="container">
            <div id="name" class="content has-text-white has-text-centered">
                <p class="title is-1">About Me</p>
            </div>
            <div class="columns">
                <div class="column is-half">
                    <div class="content mr-6">
                        <p
                            class="subtitle is-3 mb-2 is-underlined"
                            id="profile"
                        >
                            Profile
                        </p>
                        <p class="mb-1">
                            <span class="icon">
                                <i class="fa-solid fa-signature"></i>
                            </span>
                            I am: <strong>Ted (Jae-Yun) Lim</strong>
                        </p>
                        <p class="mb-1">
                            <span class="icon">
                                <i class="fa-solid fa-globe"></i>
                            </span>
                            PoB: South Korea
                        </p>
                        <p>
                            <span class="icon mt-0">
                                <i class="fa-solid fa-baby"></i>
                            </span>
                            DoB: 01.30.1998
                        </p>
                    </div>
                    <br />
                    <div class="content">
                        <p class="subtitle is-3 mb-2 is-underlined" id="school">
                            Education
                        </p>
                        <p>
                            <span class="icon">
                                <i class="fa-solid fa-school"></i>
                            </span>
                            Kyungpook National University 🇰🇷
                        </p>
                        <ul class="mt-1">
                            <li>Major: Computer Science and Engineering</li>
                            <ul>
                                <li>GPA: 4.02/4.5</li>
                            </ul>
                            <li>Minor: Business Intelligence</li>
                            <ul>
                                <li>GPA: 4.21/4.5</li>
                            </ul>
                            <li>
                                Total
                                <ul>
                                    <li>GPA: 4.03/4.5</li>
                                </ul>
                            </li>
                        </ul>
                        <p>
                            <span class="icon">
                                <i class="fa-solid fa-school"></i>
                            </span>
                            International School of Eindhoven 🇳🇱
                        </p>
                        <ul>
                            <li>International Baccalaurate</li>
                        </ul>
                    </div>
                </div>
                <div class="column is-half">
                    <figure class="image is-3by4">
                        <img
                            class="is-rounded"
                            src="https://ik.imagekit.io/re1yun/73661E47-62D3-40E7-9923-6B5786CAB478-1437-000000607923725C.JPG?updatedAt=1698198595163"
                            style="object-fit: contain; max-width: 100%"
                        />
                    </figure>
                </div>
            </div>
            
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="experience">
                    Experience
                </p>
                <ul>
                    <li>10K1M - Backend Developer / Daegu, Republic of Korea / Aug 2023 - Feb 2024</li>
                    <ul>
                        <li>
                            <a
                                href="https://kr.aving.net/news/articleView.html?idxno=1787650"
                                target="_blank"
                                >Developed and showcased the primary feature module at CES 24, effectively demonstrating its functionality and value to attendees.
                                <span class="icon">
                                    <i
                                        class="fa-solid fa-arrow-up-right-from-square"
                                    ></i>
                                </span>
                            </a>
                        </li>
                        <ul>
                            <li>Leveraged NestJS and Flask AI server technologies, incorporating models such as transformers, CLIP, and PaddleOCR.</li>
                            <li>Engineered real-time data processing and transmission systems utilizing Redis and WebSocket protocols.</li>
                            <li>Successfully expanded network by cultivating over 300 contacts through proactive engagement, including distributing informational materials and delivering engaging product demonstrations.</li>
                        </ul>
                        <li>Represented the company at numerous trade shows, showcasing services to diverse audiences and engaging potential clients.</li>
                    </ul>
                    <li>
                        <a
                            href="https://ik.imagekit.io/re1yun/Scan%203.jpeg?updatedAt=1698145397985"
                            target="_blank"
                            >LG Soft India - Internship / Bangalore, India / Jul 2023 - Aug 2023
                            <span class="icon">
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i>
                            </span>
                        </a>
                    </li>
                    <ul>
                        <li>Led the development of a webOS project tailored for wine cellar management.</li>
                        <li>Spearheaded the construction of a robust data structure and database leveraging MongoDB, while deploying a resilient server infrastructure on AWS EC2.</li>
                        <li>Designed and implemented a NodeJS RESTful API to handle CRUD operations.</li>
                    </ul>
                    <li>Kyungpook National University - Data Structure Application Tutor / Daegu, Republic of Korea / Sep 2021 - Aug 2023</li>
                    <ul>
                        <li>Provided one-on-one tutoring to students, offering guidance and support in understanding complex data structures and algorithms.</li>
                        <li>Assessed assignments and examinations for a Data Structure Application course encompassing 50 students.</li>
                    </ul>
                    <li>
                        <a
                            href="https://ik.imagekit.io/re1yun/Senior%20Katusa%20Appointment.pdf?updatedAt=1698149806885"
                            target="_black"
                            >US Army - Senior KATUSA / Camp Humphreys(Pyeongtak), Republic of Korea / Jun 2019 - Jan 2021
                            <span class="icon">
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i>
                            </span>
                        </a>
                    </li>
                    <ul>
                        <li>Managed a team of 50 soldiers, overseeing their training and daily activities.</li>
                        <li>Orchestrated meetings between US and Korean military personnel, ensuring effective collaboration and coordination.</li>
                        <li>Coordinated and executed training exercises, ensuring the safety and readiness of all personnel.</li>
                    </ul>
                </ul>
            </div>
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="activity">
                    Activity
                </p>
                <ul>
                    <li>
                        <a
                            href="https://ik.imagekit.io/re1yun/buddy.pdf?updatedAt=1698150031326"
                            target="_blank"
                            >Kyungpook National University Buddy Program
                            (2021.03.01 ~ 2021.07.01.)
                            <span class="icon">
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        Kyungpook National University Data Structure Tutor
                        (2021.09.01. ~ 2023.08.01)
                    </li>
                    <li>
                        <a
                            href="https://ik.imagekit.io/re1yun/Scan%202.jpeg?updatedAt=1698145398019"
                            target="_blank"
                            >Kyungpook National University Student Ambassador
                            (2021.09.01 ~ 2021.12.01)
                            <span class="icon">
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        Korean American Friendship Circle (2022.02 ~ 2023.06)
                    </li>
                </ul>
            </div>
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="prize">Awards</p>
                <ul>
                    <li>Kyungpook National University SW Hackathon (2023)</li>
                    <li>
                        <a
                            href="https://ik.imagekit.io/re1yun/Scan%201.jpeg?updatedAt=1698145398015"
                            target="_blank"
                            >Kyungpook National University SW Hackerton (2021)
                            <span class="icon">
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://ik.imagekit.io/re1yun/Scan.jpeg?updatedAt=1698145397973"
                            target="_blank"
                            >KAFC Student Ambassador Award (2023)
                            <span class="icon">
                                <i
                                    class="fa-solid fa-arrow-up-right-from-square"
                                ></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <p class="subtitle is-3 mb-2 is-underlined" id="experience">
                    Skill Stacks
                </p>
                <div class="columns">
                    <div class="column is-half has-text-centered">
                        <p class="subtitle is-6">Programming Languages</p>
                        <canvas id="langChart"></canvas>
                    </div>
                    <div class="column is-half has-text-centered">
                        <p class="subtitle is-6">Frameworks</p>
                        <canvas id="frameChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="container has-text-centered">
                <a href="/projects" class="button has-background-info is-rounded">Projects</a>
            </div>
        </div>
    </div>
    <div class="hero-foot">
    </div>
</section>
