<section class="hero is-fullheight">
    <div class="hero-body has-background-white">
        <div class="container">
            <div class="content has-text-centered">
                <p class="title is-1">Contact</p>
                <p class="subtitle is-4">jaeyunlim@gmail.com</p>
                <a href="https://github.com/re1yun" target="_blank">
                    <span class="icon is-large">
                        <i class="fa-brands fa-github fa-beat fa-2xl"></i>
                    </span>
                </a>
                <a href="https://linkedin.com/in/re1yun" target="_blank">
                    <span class="icon is-large">
                        <i class="fa-brands fa-linkedin fa-beat fa-2xl"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>