<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="container">
            <p class="subtitle is-4 has-text-white is-spaced">
                Nice to meet you, I'm
            </p>
            <a href="/about">
                <p class="title is-1 has-text-white">Ted (Jae-Yun) Lim</p>
            </a>
        </div>
    </div>
</section>
