<section class="hero is-fullheight">
    <div class="hero-body has-text-centered">
        <div class="container">
            <p class="subtitle is-4 is-spaced">
                Software Engineer
            </p>
            <p class="title is-1 has-text-white" id="title">
                Jaeyun Lim
            </p>
        </div>
    </div>
</section>