<!-- views/index.ejs -->
<!DOCTYPE html class="has-navbar-fixed-top">
  <head>
    <%- include('head.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
      <%- include('navbar.ejs') %>
      <%- include(title + '.ejs') %>
  </body>
</html>