<nav class="navbar is-transparent is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
  
        <a class="navbar-item" href="/about">
          About
        </a>

        <a class="navbar-item" href="/projects">
          Projects
        </a>

        <a class="navbar-item" href="/contact">
          Contact
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" href="/download/resume" target="_blank">
              <strong>Resume</strong>
            </a>
          </div>
        </div>
      </div>
    </div>
</nav>

<div id="particles-js"></div>

<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/particles.json', function() {
            console.log('callback - particles.js config loaded');
        });
    });
</script>