<section class="hero is-fullheight">
    <div class="hero-body has-background-white">
        <div class="container">
            <div class="content has-text-centered">
                <p class="title is-1">Projects</p>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading">
                                Smart Web Editor for DUmmies
                            </p>
                            <a
                                class="panel-block"
                                href="/projects/project/SWEDU"
                            >
                                <figure class="image">
                                    <img
                                        src="https://ik.imagekit.io/re1yun/architecture.png?updatedAt=1702348112033"
                                    />
                                </figure>
                            </a>
                        </nav>
                    </article>
                </div>

                <div class="tile is-parent">
                    <article class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading">Portfolio</p>
                            <a
                                class="panel-block"
                                href="/projects/project/Portfolio"
                            >
                                <figure class="image">
                                    <img
                                        src="https://ik.imagekit.io/re1yun/Home%20About%20ts.png?updatedAt=1702348111837"
                                    />
                                </figure>
                            </a>
                        </nav>
                    </article>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading">KNU Sublet</p>
                            <a
                                class="panel-block"
                                href="/projects/project/KNU_Sublet"
                            >
                                <figure class="image">
                                    <img
                                        src="https://ik.imagekit.io/re1yun/knusub.png?updatedAt=1698136418078"
                                    />
                                </figure>
                            </a>
                        </nav>
                    </article>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading">Smart Winery System</p>
                            <a
                                class="panel-block"
                                href="/projects/project/Smart_Winery_System"
                            >
                                <figure class="image">
                                    <img
                                        src="https://ik.imagekit.io/re1yun/wine.png?updatedAt=1698136419053"
                                    />
                                </figure>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading">Lotteria Kiosk</p>
                            <a
                                class="panel-block"
                                href="/projects/project/Lotteria_Kiosk_Implementation"
                            >
                                <figure class="image">
                                    <img
                                        src="https://ik.imagekit.io/re1yun/lotteria.png?updatedAt=1698136417582"
                                    />
                                </figure>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading">Algorithm Study</p>
                            <a
                                class="panel-block"
                                href="/projects/project/Algorithm_Study"
                            >
                                <figure class="image">
                                    <img
                                        src="https://ik.imagekit.io/re1yun/algo.png?updatedAt=1698136417411"
                                    />
                                </figure>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="container has-text-centered">
                <a href="/contact" class="button has-background-info is-rounded">Contact Me</a>
            </div>
        </div>
    </div>
</section>
