<section class="hero is-fullheight">
    <div class="hero-body has-background-white">
        <div class="container">
            <div class="content has-text-centered">
                <p class="title is-1">Projects</p>
            </div>
            
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading"> KNU Sublet </p>
                            <a class="panel-block" href="/projects/project/KNU_Sublet">
                                <figure class="image">
                                    <img src="https://file.notion.so/f/s/91cc82a8-4f6c-49fc-bcef-ea11b706e3e5/Untitled.png?id=a9ff24b0-4ed7-403f-817a-dd3e41039700&table=block&spaceId=275cf027-9d67-4a88-979b-58436a778a32&expirationTimestamp=1698069600000&signature=_s5AKxLMf4HOd70_jOktAE7BDRzHb_OV2gqCxPVxDbw&downloadName=Untitled.png">
                                </figure>
                            </a>
                        </nav>
                    </article>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading"> Smart Winery System </p>
                            <a class="panel-block" href="/projects/project/Smart_Winery_System">
                                <figure class="image">
                                    <img src="https://file.notion.so/f/s/d88357c5-085d-4972-acd9-0dc53cc0bd58/Untitled.png?id=b7b4685c-0fda-4dd1-ad25-ffdc340cb561&table=block&spaceId=275cf027-9d67-4a88-979b-58436a778a32&expirationTimestamp=1698069600000&signature=Fjcgw0Qytbhxfu6F8_lE6Ngw_fFnyrHeU68y5yH-8W8&downloadName=Untitled.png">
                                </figure>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
            
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading"> Lotteria Kiosk </p>
                            <a class="panel-block" href="/projects/project/Lotteria_Kiosk_Implementation">
                                <figure class="image">
                                    <img src="https://file.notion.so/f/s/38828447-f0f1-41f8-a25d-d40b014a8e6f/Untitled.png?id=09f56f44-4ee1-41f7-89ee-65add6efb6df&table=block&spaceId=275cf027-9d67-4a88-979b-58436a778a32&expirationTimestamp=1698069600000&signature=X3h8DtflAw96H5os-04y6WxIVSMMDUoU2-iLphLYkFg&downloadName=Untitled.png">
                                </figure>
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <nav class="panel">
                            <p class="panel-heading"> Algorithm Study </p>
                            <a class="panel-block" href="/projects/project/Algorithm_Study">
                                <figure class="image">
                                    <img src="https://file.notion.so/f/f/275cf027-9d67-4a88-979b-58436a778a32/1d5b50b7-a814-49cd-a0ec-ec29f6c32aa9/Untitled.png?id=23a9d2bf-8729-48c8-bb59-b6aa30dd207b&table=block&spaceId=275cf027-9d67-4a88-979b-58436a778a32&expirationTimestamp=1698213600000&signature=HFjxJ4O6NBPPPdmuL5583Mw0UFvMrl1-KW9MnxyQq7Y&downloadName=Untitled.png">
                                </figure>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>